.jfx-progress-bar .bar {
  -fx-background-color: #67A0FF;
}
.jfx-tab-pane .tab-header-area .tab-selected-line{
  -fx-background-color: White;
}

.jfx-tab-pane .tab-header-background{
  -fx-background-color: #67A0FF;
}

.jfx-button {

}



.jfx-tab-pane .tab-{
  -fx-font-color: RED;
}

.split-pane *.split-pane-divider {
  -fx-padding: 0 0 0 0;
}

